html,
body,
h1,
h2,
ul,
time,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  text-align: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #ddd;
  padding: 10px;
  gap: 15px;
  margin-right: 10px;
}

.time {
  font-size: 20px;
  float: right;
  margin-right: 20px;
}

.list {
  width: 500px;
  list-style: none;
  border: 1px solid;
  margin: 15px auto;
}

.list li {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.list li:nth-child(odd) {
  background-color: #ddd;
}

.line {
  width: 50px;
}

.form {
  width: 300px;
  display: flex;
  gap: 15px;
  text-align: center;
  flex-direction: column;
  margin: auto;
}

.form input {
  padding: 5px 10px;
}

.form button {
  align-self: flex-end;
}
